<div class="wrapper">
  <div class="form-container">
    <igx-buttongroup #buttonGroup selectionMode="single" (selected)="onSelectionChange($event)">
      <button igxButton="flat" igxRipple [selected]="true">Student</button>
      <button igxButton="flat" igxRipple>Teacher</button>
      <button igxButton="flat" igxRipple>Admin</button>
    </igx-buttongroup>
    <form method="post" *ngIf="selectedButtonLabel === 'Student' && !showRegisterForm">
      <igx-input-group>
        <input igxInput name="firstName" type="text"/>
        <label igxLabel for="firstName">First Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="lastName" type="text"/>
        <label igxLabel for="lastName">Last Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="studentID" type="number"/>
        <label igxLabel for="studentID">Student ID</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password" type="password"/>
        <label igxLabel for="password">Password</label>
      </igx-input-group>
    </form>
    <form method="post" *ngIf="selectedButtonLabel === 'Teacher'  && !showRegisterForm">
      <igx-input-group>
        <input igxInput name="firstName" type="text"/>
        <label igxLabel for="firstName">First Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="lastName" type="text"/>
        <label igxLabel for="lastName">Last Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="teacherID" type="number"/>
        <label igxLabel for="teacherID">Teacher ID</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password" type="password"/>
        <label igxLabel for="password">Password</label>
      </igx-input-group>
    </form>
    <form method="post" *ngIf="selectedButtonLabel === 'Admin'  && !showRegisterForm">
      <igx-input-group>
        <input igxInput name="firstName" type="text"/>
        <label igxLabel for="firstName">First Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="lastName" type="text"/>
        <label igxLabel for="lastName">Last Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password" type="password"/>
        <label igxLabel for="password">Password</label>
      </igx-input-group>
    </form>
    <form method="post" *ngIf="selectedButtonLabel === 'Student' && showRegisterForm">
      <igx-input-group>
        <input igxInput name="firstName" type="text"/>
        <label igxLabel for="firstName">First Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="lastName" type="text"/>
        <label igxLabel for="lastName">Last Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password" type="number"/>
        <label igxLabel for="password">Password</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password2" type="password"/>
        <label igxLabel for="password2">Repeat Password</label>
      </igx-input-group>
    </form>
    <form method="post" *ngIf="selectedButtonLabel === 'Teacher' && showRegisterForm">
      <igx-input-group>
        <input igxInput name="firstName" type="text"/>
        <label igxLabel for="firstName">First Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="lastName" type="text"/>
        <label igxLabel for="lastName">Last Name</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password" type="number"/>
        <label igxLabel for="password">Password</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="password2" type="password"/>
        <label igxLabel for="password2">Repeat Password</label>
      </igx-input-group>
    </form>
    <form method="post" *ngIf="selectedButtonLabel === 'Admin' && showRegisterForm">
      <div class="wrapper">
        <igx-card elevated>
          <igx-card-media height="180px">
              <img [src]="card.imageUrl">
          </igx-card-media>

          <igx-card-header>
              <h3 igxCardHeaderTitle>{{ card.title }}</h3>
              <h5 igxCardHeaderSubtitle>{{ card.subtitle }}</h5>
          </igx-card-header>

          <igx-card-content>
              <p>{{ card.content }}</p>
          </igx-card-content>

          <igx-card-actions>
              <button igxIconButton="flat"
                  igxRipple
                  *ngFor="let icon of card.icons" igxEnd>
                  <igx-icon [style.color]="'#ECAA53'">{{icon}}</igx-icon>
              </button>
          </igx-card-actions>

      </igx-card>
      </div>
    </form>
    <div class="button-sample">
      <button igxButton="contained" type="submit" igxRipple>Login</button>
      <button igxButton="contained" igxRipple (click)="toggleRegisterForm()">Register</button>
    </div>
  </div>
</div>
